openapi: 3.0.3
info:
  title: The Movie Database API
  description: API for movies from The Movie Database.
  version: 1.0.0
servers:
  - url: https://api.themoviedb.org/3
paths:
  /search/movie:
    get:
      summary: Search Movies
      description: Search for movies using a query string.
      parameters:
        - name: include_adult
          in: query
          description: Whether or not to include adult movies in the results.
          required: true
          schema:
            type: boolean
            example: false
        - name: page
          in: query
          description: The page of results to return.
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
        - name: query
          in: query
          description: The search query term.
          required: true
          schema:
            type: string
            example: Matrix
      responses:
        '200':
          description: A successful response containing the search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: The current page of results.
                    example: 1
                  results:
                    type: array
                    description: A list of movies matching the query.
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          description: Indicates if the movie is for adults.
                          example: false
                        backdrop_path:
                          type: string
                          nullable: true
                          description: The path to the backdrop image.
                          example: /2P3FyI9ZTe9duRIGpGPiDC3mQMf.jpg
                        genre_ids:
                          type: array
                          description: A list of genre IDs associated with the movie.
                          items:
                            type: integer
                          example: [99, 10770]
                        id:
                          type: integer
                          description: The unique ID of the movie.
                          example: 1217455
                        original_language:
                          type: string
                          description: The original language of the movie.
                          example: en
                        original_title:
                          type: string
                          description: The original title of the movie.
                          example: Matrix
                        overview:
                          type: string
                          description: A brief summary of the movie.
                          example: A special documentary about the Matrix saga and its prophetic aspects.
                        popularity:
                          type: number
                          description: The popularity score of the movie.
                          example: 8.8866
                        poster_path:
                          type: string
                          description: The path to the poster image.
                          example: /t1wm4PgOQ8e4z1C6tk1yDNrps4T.jpg
                        release_date:
                          type: string
                          format: date
                          description: The release date of the movie.
                          example: 2023-12-13
                        title:
                          type: string
                          description: The title of the movie.
                          example: The Matrix
                        video:
                          type: boolean
                          description: Indicates if the movie is a video.
                          example: false
                        vote_average:
                          type: number
                          description: The average vote score.
                          example: 7.4
                        vote_count:
                          type: integer
                          description: The number of votes received.
                          example: 15
                  total_pages:
                    type: integer
                    description: The total number of pages available for the query.
                    example: 5
                  total_results:
                    type: integer
                    description: The total number of results matching the query.
                    example: 88
        '400':
          description: Bad Request. Missing or invalid parameters.
        '401':
          description: Unauthorized. Invalid API key.
        '500':
          description: Internal Server Error.
      security:
        - apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
